<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmark">

	<select id="listBookmark" parameterType="map" resultType="com.railer.rt.mypage.Bookmark">
		select t.tournum, m.userId,name,address
		from tourbookmark b
		join tour t on b.tournum = t.tournum
		join member2 m on b.userId=m.userId
		where m.userId = #{userId}
		order by tourNum
		offset {offset} rows fetch first {rows} rows only
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		select nvl(count(*),0)
		from tourbookmark b
		join tour t on b.tournum = t.tournum
		join member2 m on b.userId=m.userId
		where m.userId=#{userId}
	</select>
	
	<select id="readStation" parameterType="map" resultType="com.railer.rt.mypage.Bookmark">
		select t.tournum, m.userId,staNum,detailCateNum,name,address,tel,longitude,latitude
		from tourbookmark b
		join tour t on b.tournum = t.tournum
		join member2 m on b.userId=m.userId
		where m.userId = #{userId}
		order by tourNum
		offset {offset} rows fetch first {rows} rows only
	</select>

	
</mapper>