<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	
	<insert id="insertevent" parameterType="com.railer.rt.event.Event">
		INSERT INTO event (eventNum, name, content, comments, sDate, eDate, imageFilename) 
		
		VALUES (event_seq.nextval, #{name}, #{content}, #{comments}, #{sdate}, #{edate}, #{imageFilename})
	</insert>
	
	<sql id="where-list">
		<choose>
			<when test="condition == 'all' ">
			   ( INSTR(name, #{keyword}) &gt; 0
		          OR DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 )
			</when>
			<when test="condition == 'content'">
			    DBMS_LOB.INSTR(content, #{keyword}) &gt; 0
			</when>
		
			<otherwise>
			    INSTR(${condition}, #{keyword}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
			
	<update id="updateevent" parameterType="com.railer.rt.event.Event">
		UPDATE event SET name=#{name}, content=#{content}, comments=#{comments}, imageFilename=#{imageFilename},
	 		sDate=#{sdate}, eDate=#{edate}
		WHERE eventNum = #{eventNum}
	</update> 
	
	<select id="listevent" parameterType="map" resultType="com.railer.rt.event.Event">
	 SELECT eventNum, name, content, sDate, eDate, imageFilename 
	 from event
	 <choose>
	 	<when test="mode=='current'">
	 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &gt;= SYSDATE	
	 	</when>
	 	<otherwise>
	 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &lt; SYSDATE
	 	</otherwise>
	 </choose>
	<if test="keyword!=null and keyword!='' ">
			and <include refid="where-list"/>
	</if>
		 
	 <choose>
	 	<when test="order==0">
	 		ORDER BY eventNum DESC	
	 	</when>
	 	<otherwise>
	 		ORDER BY (TO_DATE(eDate, 'YYYY-MM-DD')-SYSDATE) 
	 	</otherwise>
	 </choose>
	 
	 OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	 	 	
	 </select>
		
	<select id="dataCount" parameterType="map" resultType="Integer">
	 SELECT NVL(COUNT(*), 0) FROM event
	 <choose>
	 	<when test="mode=='current'">
	 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &gt;= SYSDATE	
	 	</when>
	 	<otherwise>
	 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &lt; SYSDATE	
	 	</otherwise>
	 </choose>
	<if test="keyword!=null and keyword!='' ">
		and <include refid="where-list"/>
	</if>

	</select>
	
	<delete id="deleteevent" parameterType="Integer">
	 	DELETE FROM event WHERE eventNum = #{eventNum}
	 </delete>
	 
	 <select id="readevent" parameterType="Integer" resultType="com.railer.rt.event.Event">
		SELECT b.eventNum, name, content, sDate, eDate, comments, imageFilename, hitCount,
		NVL(eventLikeCount, 0) eventLikeCount
	 	from event b
	 	LEFT OUTER JOIN (
			SELECT eventNum, COUNT(*) eventLikeCount FROM eventLike
			GROUP BY eventNum
		) bc ON b.eventNum = bc.eventNum
	 	WHERE b.eventNum = #{eventNum}
	 </select>
	
	<!-- 이전글 -->
	<select id="preReadevent" parameterType="map" resultType="com.railer.rt.event.Event">
		SELECT eventNum, name
		FROM event						
		 <choose>
		 	<when test="mode=='current' and order==0">
		 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &gt;= SYSDATE	
			      AND (eventNum &gt; #{eventNum})
		 	</when>
		 	<when test="mode=='current' and order==1">
		 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &gt;= SYSDATE	
			      AND (TO_DATE(eDate, 'YYYY-MM-DD') &gt; TO_DATE(#{eDate}, 'YYYY-MM-DD'))
		 	</when>
		 	<when test="mode=='last' and order==0">
		 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &lt; SYSDATE		
			      AND (eventNum &gt; #{eventNum})
		 	</when>
		 	<otherwise>
		 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &lt; SYSDATE	
			      AND (TO_DATE(eDate, 'YYYY-MM-DD') &gt; TO_DATE(#{eDate}, 'YYYY-MM-DD'))
		 	</otherwise>
		 </choose>

		 <choose>
		 	<when test="order==0">
		 		ORDER BY eventNum ASC	
		 	</when>
		 	<otherwise>
		 		ORDER BY ABS(TO_DATE(eDate, 'YYYY-MM-DD')-SYSDATE) DESC
		 	</otherwise>
		 </choose>
		FETCH FIRST 1 ROWS ONLY
		
	</select>

	<!-- 다음글 -->
	<select id="nextReadevent" parameterType="map" resultType="com.railer.rt.event.Event">
		SELECT eventNum, name
		FROM event
		 <choose>
		 	<when test="mode=='current' and order==0">
		 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &gt;= SYSDATE	
	        		AND (eventNum &lt; #{eventNum})
		  	</when>
		 	<when test="mode=='current' and order==1">
		 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &gt;= SYSDATE	
	        		AND (TO_DATE(eDate, 'YYYY-MM-DD') &lt; TO_DATE(#{eDate}, 'YYYY-MM-DD'))
		  	</when>
		 	<when test="mode=='last' and order==0">
		 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &lt; SYSDATE		
			      AND (eventNum &lt; #{eventNum})
		 	</when>
		 	<otherwise>
		 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &lt; SYSDATE	
	        		AND (TO_DATE(eDate, 'YYYY-MM-DD') &lt; TO_DATE(#{eDate}, 'YYYY-MM-DD'))
		 	</otherwise>
		 </choose>
				
		 <choose>
		 	<when test="order==0">
		 		ORDER BY eventNum DESC	
		 	</when>
		 	<otherwise>
		 		ORDER BY ABS(TO_DATE(eDate, 'YYYY-MM-DD')-SYSDATE) ASC
		 	</otherwise>
		 </choose>
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE event SET hitCount=hitCount+1 WHERE eventNum = #{eventNum}
	</update>
	
	<!-- 게시 글 좋아요  추가 -->
	<insert id="insertEventLike" parameterType="map">
		INSERT INTO eventLike(eventNum, userId) VALUES (#{eventNum}, #{userId})
	</insert>
      
	<!-- 게시글 좋아요 개수 -->
	<select id="eventLikeCount" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM eventLike WHERE eventNum=#{eventNum}
	</select>
	
	<!-- 슬라이드 조회순 보여주기 -->
	<select id="rankEvent" parameterType="map" resultType="com.railer.rt.event.Event">
 		SELECT eventNum, hitCount, imageFilename
			FROM
			 (
			  SELECT eventNum, hitCount, imageFilename
			  FROM event
			  ORDER BY hitCount DESC
			 )
			where rownum <![CDATA[<=]]>4
	</select>
	
	<!-- 댓글 -->
	<insert id="insertReply" parameterType="com.railer.rt.event.Reply">
		INSERT INTO eventReply(replyNum, eventNum, userId, content, answer)
			VALUES (eventReply_seq.NEXTVAL, #{eventNum}, #{userId}, #{content}, #{answer})
	</insert>

	<select id="replyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM eventReply
		WHERE eventNum=#{eventNum} AND answer=0
	</select>

	<!-- 댓글리스트 -->
	<select id="listReply" parameterType="map" resultType="com.railer.rt.event.Reply">
		SELECT r.replyNum, r.userId, userName, eventNum, content, r.created, 
		       NVL(answerCount, 0) answerCount
		FROM eventReply r
		JOIN member2 m ON r.userId = m.userId
		LEFT OUTER JOIN (
			SELECT answer, COUNT(*) answerCount
			FROM eventReply WHERE answer!=0 GROUP BY answer
		) a ON r.replyNum = a.answer
		
		WHERE eventNum=#{eventNum} AND r.answer=0
		ORDER BY r.replyNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
		
	<!-- 댓글 및 답글 삭제 -->
	<delete id="deleteReply" parameterType="map">
		DELETE FROM eventReply WHERE 
		<if test="mode=='reply' ">
			replyNum IN (
				SELECT replyNum FROM eventReply
					START WITH replyNum=#{replyNum}
					CONNECT BY PRIOR replyNum = answer         
			)
		</if>
		<if test="mode=='answer' ">
			replyNum = #{replyNum}
		</if>
	</delete>
	
	<!-- 댓글의 답글 리스트 -->
	<select id="listReplyAnswer" parameterType="Integer" resultType="com.railer.rt.event.Reply">
		SELECT replyNum, eventNum, r.userId, userName, content, r.created, answer
		FROM eventReply r
		JOIN member2 m ON r.userId = m.userId
		WHERE answer = #{answer}
		ORDER BY replyNum DESC
	</select>
	
	<!-- 댓글의 답글 개수 -->
	<select id="replyAnswerCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM eventReply WHERE answer = #{answer}
	</select>
	
	<select id="listMainevent" parameterType="map" resultType="com.railer.rt.event.Event">
	select a.* from (SELECT eventNum, name, content, sDate, eDate, imageFilename 
	 from event
	 		WHERE TO_DATE(eDate, 'YYYY-MM-DD') &gt;= SYSDATE	
		 )a where rownum <![CDATA[<]]> 8
	 		ORDER BY eventNum DESC	
	 </select>
			
</mapper>