<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="friend">

	<!--현재 시퀀스 번호를 가져오는 쿼리 
	return type : 정수형-->
	<select id="seq" resultType="Integer">
		SELECT friend_seq.nextval FROM dual
	</select>
	
	<!-- 동행게시판 게시물을 insert
	parameter Type : FriendDTO-->
	<insert id="insertFriend" parameterType="com.railer.rt.commu.friend.Friend">
		INSERT INTO friend(friendNum, userId, notice, subject, content, sDate, eDate)
		VALUES(#{friendNum}, #{userId}, #{notice}, #{subject}, #{content}, #{sDate, jdbcType=VARCHAR}, #{eDate, jdbcType=VARCHAR})
	</insert>
	
	<!--동행게시판의 첨부파일을 insert
	parameter Type : Friend DTO-->
	<insert id="insertFriendFile" parameterType="com.railer.rt.commu.friend.Friend">
        INSERT INTO friendFile(friendFileNum, friendNum, saveFilename,originalFilename,fileSize)
        VALUES(FRIENDF_SEQ.nextval, #{friendNum},#{saveFilename},#{originalFilename},#{fileSize})
	</insert>
	
	<!--검색 기능에 관련 된 where 조건에 관련된 sql
	전체 / 내용 / 날짜 / 작성일 / 제목 / 작성자-->
	<sql id="where-list">
		<choose>
			<when test="condition=='all'">	
				(INSTR(subject,#{keyword}) &gt; 0
				OR
				DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 )
			</when>
			<when test="condition=='content'">
				DBMS_LOB.INSTR(content, #{keyword}) &gt; 0
			</when>
			<when test="condition=='created'">
				(TO_CHAR(f.created, 'YYYY-MM-DD'))=#{keyword}
			</when>
			<when test="condition=='period'">
				TO_date(eDate, 'YYYY-MM-DD')&gt;=TO_date(#{keyword}, 'YYYY-MM-DD')
				and TO_date(sDate, 'YYYY-MM-DD')&lt;=TO_date(#{keyword}, 'YYYY-MM-DD')
			</when>
			<otherwise>
				INSTR(${condition},#{keyword}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	

	<!--공지사항 리스트를 가져오는 쿼리 
	parameter Type : 없음
	return type : Friend dto-->
	<select id="listFriendTop" resultType="com.railer.rt.commu.friend.Friend">
       SELECT f.friendNum,f.userId,userName,subject,content,hitCount,f.created
      FROM friend f 
      JOIN member2 m2 ON f.userId=m2.userId
      <where>
         <if test="keyword!=null and keyword!=''">
            <include refid="where-list"/>
         </if>
         and notice=1
         and deleted=0
      </where>
      ORDER BY f.friendNum DESC
   </select>
   
	
	<!--동행게시판 게시물 수를 반환
	parameter Type : map
	return type : 정수형-->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM friend f
		JOIN member2 m2 ON f.userId=m2.userId 
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list" />
			</if>
			and notice=0
		</where>
	</select>
	
	<!--해당 범위 안의 동행게시판 게시물을 가져오는, 해당 페이지의 동행게시판 게시물 리스트
	parameter Type : map
	result Type : Friend DTO-->
	<select id="listFriend" parameterType="map" resultType="com.railer.rt.commu.friend.Friend">
      SELECT f.friendNum,f.userId,userName,subject,content,hitCount,f.created, sDate, eDate, f.enable,
      		deleted, deleteId,
            NVL(fileCount,0) fileCount, NVL(replyCount,0) replyCount, NVL(bookmarkCount,0) bookmarkCount
      FROM friend f 
      JOIN member2 m2 ON f.userId=m2.userId
      LEFT OUTER JOIN (
         SELECT friendNum, COUNT(*) fileCount FROM friendFile
         GROUP BY friendNum
      ) ff On f.friendNum=ff.friendNum
      LEFT OUTER JOIN (
         SELECT friendNum, COUNT(*) replyCount FROM friendReply
         GROUP BY friendNum
      ) r On f.friendNum=r.friendNum
      LEFT OUTER JOIN (
         SELECT friendNum, COUNT(*) bookmarkCount FROM friendBookMark
         GROUP BY friendNum
      ) fb On f.friendNum=fb.friendNum
      <where>
         <if test="keyword!=null and keyword!=''">
            <include refid="where-list"/>
         </if>
         and notice != 1
      </where>
      ORDER BY f.friendNum DESC
      OFFSET #{offset} ROWS fETCH FIRST #{rows} ROWS ONLY
   </select>
	
	<!--동행구하기 게시물 정보를 가져오기
	parameter Type : 정수
	result Type : Friend DTO-->
	<select id="readFriend" parameterType="map"  resultType="com.railer.rt.commu.friend.Friend">
		SELECT f.friendNum,f.userId,userName,subject,content,hitCount,f.created,sDate, eDate,f.enable, notice, NVL(fileCount,0) fileCount
            ,NVL(replyCount,0) replyCount, NVL(bookmarkCount,0) bookmarkCount,nvl(myBookMark,0) myBookMark
      FROM friend f 
      JOIN member2 m2 ON f.userId=m2.userId
      LEFT OUTER JOIN (
         SELECT friendNum, COUNT(*) fileCount FROM friendFile
         GROUP BY friendNum
      ) ff On f.friendNum=ff.friendNum
      LEFT OUTER JOIN (
         SELECT friendNum, COUNT(*) replyCount FROM friendReply
         GROUP BY friendNum
      ) r On f.friendNum=r.friendNum
      LEFT OUTER JOIN (
         SELECT friendNum, COUNT(*) bookmarkCount FROM friendBookMark
         GROUP BY friendNum
      ) fb On f.friendNum=fb.friendNum
      LEFT OUTER JOIN (
         SELECT friendNum, userid, COUNT(*) myBookMark FROM friendBookMark
         where userid=#{userId} and friendNum=#{friendNum} group by friendNum, userid
      ) fb1 On f.friendNum=fb1.friendNum
      	WHERE f.friendNum=#{friendNum}
	</select>
	
	<!--공지사항 해당 게시물에 대한 파일 리스트 정보 가져오기
	parameter Type : 정수
	result Type : Friend DTO (uploads)-->
	<select id="listFile" parameterType="Integer" resultType="com.railer.rt.commu.friend.Friend">
   	SELECT friendFileNum, friendNum, saveFilename, originalFilename, fileSize
   	FROM friendFile
   	WHERE friendNum=#{friendNum}
   </select>
	
	<!-- 해당 게시물에 대한 이전글 정보 가져오기
	parameter Type : map
	result Type : Friend DTO-->
	<select id="preReadFriend" parameterType="map" resultType="com.railer.rt.commu.friend.Friend">
      SELECT friendNum, subject,f.created 
      FROM friend f 
      JOIN member2 m2 ON f.userId=m2.userId
      <where>
         <if test="keyword!=null and keyword!=''">
            <include refid="where-list"/>
         </if>
         AND (friendNum &gt; #{friendNum})
         AND notice != 1
         AND deleted = 0
      </where>
      ORDER BY friendNum ASC
      FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!--해당 게시물에 대한 다음글 정보 가져오기
	parameter Type : map
	result Type : Friend DTO-->
	<select id="nextReadFriend" parameterType="map" resultType="com.railer.rt.commu.friend.Friend">
      SELECT friendNum, subject,f.created 
      FROM friend f 
      JOIN member2 m2 ON f.userId=m2.userId
      <where>
         <if test="keyword!=null and keyword!=''">
            <include refid="where-list"/>
         </if>
         AND (friendNum &lt; #{friendNum})
         AND notice != 1
         AND deleted = 0
      </where>
      ORDER BY friendNum DESC
      FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!--해당 공지사항의 조회수 증가
	parameter Type : 공지사항번호-->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE friend SET
			hitCount=hitCount+1
		WHERE friendNum=#{friendNum}
	</update>
	
	<!--해당 공지사항 파일에 대한 상세정보
	parameter Type : 공지사항 파일번호
	result Type : Friend DTO-->
	<select id="readFile" parameterType="Integer" resultType="com.railer.rt.commu.friend.Friend">
   	SELECT friendFileNum, friendNum, saveFilename, originalFilename, fileSize
   	FROM friendFile
   	WHERE friendFileNum=#{friendFileNum}
   </select>
   
	<update id="updateEnable" parameterType="Integer">
		UPDATE friend SET enable=1
		WHERE friendNum=#{friendNum}
	</update>
   
   <!--공지사항 제목, 내용 수정
	parameter Type : map
	result Type : Notice DTO-->
	<update id="updateFriend" parameterType="com.railer.rt.commu.friend.Friend">
		UPDATE Friend SET subject=#{subject},content=#{content}
		WHERE friendNum=#{friendNum}
	</update>
	
	<!--공지사항 삭제
	parameter Type : 정수
	result Type : Notice DTO-->
	<update id="deleteFriend" parameterType="map">
		update friend set deleted=1, deleteID=#{userId} WHERE friendNum=#{friendNum}
	</update>
	
	<!--동행게시판 게시물의 파일 삭제 (게시물 수정)
	parameter Type : map-->
	<delete id="deleteFile" parameterType="map">
		DELETE FROM friendFile WHERE ${field}=#{num}
	</delete>

	<!-- 동행게시판 게시물을 insert
	parameter Type : FriendDTO-->
	<insert id="insertFriendBookmark" parameterType="map">
		INSERT INTO friendBookmark(friendNum, userId)
		VALUES(#{friendNum}, #{userId})
	</insert>
	
	<!-- 동행게시판 게시물을 delete
	parameter Type : FriendDTO-->
	<delete id="deleteFriendBookmark" parameterType="map">
		DELETE FROM friendBookmark
		WHERE friendNum=#{friendNum} and userId=#{userId}
	</delete>
	
	<!--게시물의 북마크 수를 반환
	parameter Type : map
	return type : 정수형-->
	<select id="bookmarkCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM friendBookmark
		where friendNum = #{friendNum}
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="com.railer.rt.commu.friend.FriendReply">
		INSERT INTO FRIENDREPLY(friendReplyNum, userId, friendNum, content, answer, secret)
			<if test="answer==0">
			VALUES (FRIENDREPLY_SEQ.NEXTVAL, #{userId}, #{friendNum}, #{content}, null, #{secret})
			</if>
			<if test="answer!=0">
			VALUES (FRIENDREPLY_SEQ.NEXTVAL, #{userId}, #{friendNum}, #{content}, #{answer, jdbcType=INTEGER}, #{secret})
			</if>
	</insert>
	
	<!--게시물의 댓글수를 반환
	parameter Type : Integer
	return type : Integer-->
	<select id="replyCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM FRIENDREPLY
		where friendNum = #{friendNum}
	</select>
	
	<!-- 댓글 리스트 -->
	<select id="listReply" parameterType="map" resultType="com.railer.rt.commu.friend.FriendReply">
select friendReplyNum, userId, userName, friendNum, content, created, NVL(answer,0) answer, 
secret, NVL(answerCount, 0) answerCount, deleted, deleteId
from(
select friendReplyNum, fr.userId, userName, fr.friendNum, content, fr.created, fr.answer, secret, NVL(answerCount, 0) answerCount
, deleted, deleteId	from friendReply fr
	JOIN MEMBER2 m2 on m2.userId = fr.userId
	LEFT OUTER JOIN (
			SELECT  answer, COUNT(*) answerCount
			FROM friendReply WHERE  answer!=0 GROUP BY  answer
		) a ON fr.friendReplyNum = a.answer
	WHERE fr.friendNum=#{friendNum}
   ORDER BY friendReplyNum DESC) 
   START WITH answer IS NULL
CONNECT BY PRIOR friendReplyNum =   answer
 OFFSET #{offset} ROWS fETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<!-- 업데이트. 댓글 및 답글 삭제 -->
	<update id="deleteReply" parameterType="map">
		update FriendReply set deleted=1, deleteID=#{userId} WHERE friendReplyNum=#{friendReplyNum}
	</update>
	
	<!-- 진짜. 댓글 및 답글 삭제 -->
	<delete id="deleteReply2" parameterType="map">
		DELETE FROM FriendReply WHERE 
		<if test="mode=='reply' ">
			friendReplyNum IN (
				SELECT friendReplyNum FROM FriendReply
					START WITH friendReplyNum=#{friendReplyNum}
					CONNECT BY PRIOR friendReplyNum = answer         
			)
		</if>
		<if test="mode=='answer' ">
			friendReplyNum = #{friendReplyNum}
		</if>
	</delete>
</mapper>