<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" parameterType="String"
		resultType="com.railer.rt.member.Member">
		SELECT userId, mm.userNum, userName, userPwd, birth,email,tel ,enabled
		FROM member2 mm
		JOIN member1 m ON mm.userNum = m.userNum
		WHERE userId = #{userId} AND enabled != 0
	</select>
	
	<select id="readMember" parameterType="String"
		resultType="com.railer.rt.member.Member">
		SELECT userId, mm.userNum, userName, userPwd, birth,email,tel, created
		FROM member2 mm
		JOIN member1 m ON mm.userNum = m.userNum
		WHERE userId =#{userId}
	</select>

	<!-- 회원가입 -->
	<select id="memberSeq" resultType="long">
		SELECT member1_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertMember1">
		INSERT INTO member1(userNum) VALUES (#{userNum})
	</insert>
	
	<insert id="insertMember2" parameterType="com.railer.rt.member.Member">
		 INSERT INTO member2(userId, userNum, userPwd, userName, birth, email, tel) 
		  VALUES (#{userId}, #{userNum}, #{userPwd}, #{userName}, #{birth},
		   #{email}, #{tel, jdbcType=VARCHAR})    
	</insert>

	<!-- 권한 저장 -->
	<insert id="insertAuthority"
		parameterType="com.railer.rt.member.Member">
		INSERT INTO memberAuthority(userId, authority)
		VALUES(#{userId},#{authority})
	</insert>

	<!-- 정보 수정 -->
	<update id="updateMember" parameterType="com.railer.rt.member.Member">
		UPDATE member2 SET userPwd=#{userPwd}, birth = #{birth}, email=#{email}, tel=#{tel,jdbcType=VARCHAR}
		WHERE userId = #{userId}
	</update>
	
	<!-- 탈퇴 -->
	<update id="updateMemberEnabled" parameterType="map">
		UPDATE member1 SET enabled = #{enabled}
		WHERE userId = #{userId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member2 WHERE userId = #{userId}
	</delete>
</mapper>