@charset "UTF-8";

#sir_lbo .lbo_li {
	padding: 0 0 0 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #eceff3;
	color: #101010;
}

.sir_lbo .lbo_notice {
	border-bottom: 1px solid #d3deff !important;
	background: #f1f4ff;
}

#sir_lbo .lbo_legend, #sir_lbo .lbo_legend:hover {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d8dfe2;
	background: #fbfbfb;
	background: white;
	text-align: center;
	letter-spacing: -0.1em;
	border-top: 2px solid #000;
}

#sir_lbo .lbo_li {
	padding: 0 0 0 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #eceff3;
	color: #101010;
}

table th, table td{
	text-align: center;   
}

table th span {
	position: relative;
	border-left: #d3d3d3 1px solid;
	width: 100%;
	display: inline-block;
	left: -9px; 
	padding-left: 18%;
}
.page-three-title h3 {
   margin: 20px 0 10px;
    background: linear-gradient(#e28ff1, #68d0fd) no-repeat 0 0 / 7px 100%;
    line-height: 30px;
    padding-left: 20px;
    font-weight: 550;
    color: #1b1b1b;
    /* margin: 0; */
    font-family: Roboto, 'Nanum Square', Helvetica, Arial, sans-serif;}

.btn-sns {
    right: 20px;
    padding-left: 15px;
}

.btn-sns {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding-left: 7px;
}

.btn-sns .ico-sns {
    width: 40px;
    height: 40px;
    background-position: -120px 0;
}
.ico-sns {
    background: url(../images/comm/ico-sns.png) no-repeat 0 0 / 160px;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.open-sns-group {
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 100%;
    background: rgba(255, 255, 255, .98);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .08);
    border: 1px solid #555;
}
.open-sns-group .sns-title {
    font-weight: 600;
    margin: 0;
    padding: 15px 20px;
    background: #3e54a7 linear-gradient(45deg, #3e54a7, #5f59c8, #1bad83);
    color: #fff;
    position: relative;
    opacity: .95;
}
.open-sns-group .sns-title .sns-close .ico-station {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/station/icon-station.png) no-repeat -276px -4px;
}

.ico-station {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.open-sns-group .list-inline-box {
    padding: 20px;
}

.boxTF
{
	display: inline-block;
    width: 56%;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    white-space: nowrap;
    vertical-align: middle;
    border: 0;
    float: left;
    border-left: 1px solid #cccccc;
}

.lbo_notice td .noticeBox{
	    padding: 2px;
    margin: 0 auto;
    color: white;
    display: block;
    width: 58px;
    height: 21px;
    border-radius: 15px;
    background: #283164;
    float: left;
  box-shadow: 1px 1px 3px #333333;
}
.list-group {
    box-shadow: 1px 1px 2px #333333;
    padding-left: 0;
    margin-bottom: 20px;
    border-radius: 5px;
}

table.table.table-hover th, table.table.table-hover td {
	padding:10px 8px 10px 15px;
}
table.table.table-hover th{
    vertical-align: middle;
    height: 60px;
    }











